svg {
  border: 0.1em solid black;
  width: 30em;
  height: 30em;
}

circle.main {
  fill: transparent;
  stroke: black;
  stroke-width: 0.3em;
}

line {
  stroke: black;
  stroke-width: 0.1em;
}

div.command {
  width: 30em;
}

input[type="range"] {
  width: 100%;
}

input[type="checkbox"] {
  margin-top: 1em;
  margin-left: 0;
}
